*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

.loading-indicator{
  width: 200px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.circle{
  width: 20px;
  height: 20px;
  background: #007BFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
}

ul li {
  cursor: pointer;
}

.forgotPasswordLinkDiv{
  display: flex; 
  flex: row;
  justify-content: flex-end; 
}

.form-group:nth-child(2){
  margin-bottom: 0 !important;
}

.circle::before{
  content: '';
  width: 20px;
  height: 20px;
  background: #007BFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-animation: loading 1.5s;
  opacity: 0.7;
  animation: loading 1.5s;
  animation-iteration-count: infinite;
}

@keyframes loading{
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    opacity: 0;
  }
}

.circle:nth-child(2):before {
  animation-delay: 0.2s;
}

.circle:nth-child(3):before {
  animation-delay: 0.4s;
}

.circle:nth-child(4):before {
  animation-delay: 0.6s;
}

.circle:nth-child(5):before {
  animation-delay: 0.8s;
}

.circle:nth-child(6):before {
  animation-delay: 1s;
}

.circle:nth-child(7):before {
  animation-delay: 1.2s;
}

.circle:nth-child(8):before {
  animation-delay: 1.4s;
}

.hidden{
  display: none !important;
}

.tableHeading {
  background: #9018ac;
  color: wheat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top:10px;
}

.customTableStyle{
  border: 1rem solid #eaeaea;
  cursor: pointer;
  border-collapse: unset;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.failure{
  color: red;
}

.success{
  color: green;
}

h1 a{
  font-size: 2rem;
}